<h2>NorthwindDB2021 Angular Client</h2>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>CustomerI</th>
        <th>Company Name</th>
        <th>Contact</th>
        <th>CIty</th>
        <th>Region</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.companyName }}</td>
        <td>{{ customer.contactName }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.region }}</td>
        <td>{{ customer.country }}</td>
      </tr>
    </tbody>

  </table>
</div>
